<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>Welcome to the Westland San Elimination Lagoon</h2>

    <form action="/ask" method="get">
      <input  style="margin: 30px 0px;" type="submit" value="Go to Westland">
    </form>

    <%= yield %>
    <p><%= Time.now%></p>
  </body>
</html>
